<div>
  <h2 id="page-heading" data-cy="ParameterHeading">
    <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.home.title">Parameters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parameter"
        [routerLink]="['/jhipstersamplekeycloak/parameter/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.home.createLabel"> Create a new Parameter </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parameters?.length === 0">
    <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.home.notFound">No parameters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parameters && parameters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="label">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.label">Label</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activated">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.activated">Activated</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lib2">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.lib2">Lib 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lib3">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.lib3">Lib 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="refExterne">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.refExterne">Ref Externe</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="val1">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.val1">Val 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="val2">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.val2">Val 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="val3">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.val3">Val 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ordre">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.ordre">Ordre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type.id">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paraent.id">
            <span jhiTranslate="jhipsterSampleKeycloakApp.jhipsterSampleKeycloakParameter.paraent">Paraent</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parameter of parameters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersamplekeycloak/parameter', parameter.id, 'view']">{{ parameter.id }}</a>
          </td>
          <td>{{ parameter.label }}</td>
          <td>{{ parameter.activated }}</td>
          <td>{{ parameter.lib2 }}</td>
          <td>{{ parameter.lib3 }}</td>
          <td>{{ parameter.refExterne }}</td>
          <td>{{ parameter.val1 }}</td>
          <td>{{ parameter.val2 }}</td>
          <td>{{ parameter.val3 }}</td>
          <td>{{ parameter.ordre }}</td>
          <td>
            <div *ngIf="parameter.type">
              <a [routerLink]="['/parameter', parameter.type?.id, 'view']">{{ parameter.type?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="parameter.paraent">
              <a [routerLink]="['/parameter', parameter.paraent?.id, 'view']">{{ parameter.paraent?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersamplekeycloak/parameter', parameter.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersamplekeycloak/parameter', parameter.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parameter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parameters && parameters.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
